:root {
  --yellow: #f4c444;
  --orange: #f97316;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

/* form */

.signupPage {
  width: 539px;
  height: 587px;
  background: rgba(255, 214, 0, 0.04);
  border-radius: 50px;
  margin: 108px auto 50px;
}

.signupPage h1 {
  padding-top: 64px;
  padding-bottom: 60px;
  width: 383px;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  margin-left: 80px;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

input {
  border: 1px solid var(--yellow);
  width: 380px;
  height: 65px;
  border-radius: 20px;
  padding-left: 33px;
  font-size: 18px;
}

input:focus {
  outline: var(--yellow);
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.32);
}

#password {
  margin-top: 22px;
  margin-bottom: 56px;
}
#email {
  margin-top: 22px;
}

form button {
  width: 344px;
  height: 64px;
  background: var(--yellow);
  border-radius: 50px;
  border: none;

}

form button h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: black;
  position: absolute;
  margin-top: 15px;
  margin-left: 4.5rem;
}

form button img {
    position: relative;
  left: 5rem;
  top: 4px;
}
